<html>
     <head>
         <meta name="viewport" content="width=device-width,initial-scale=1.0">
         <title>TELINSO</title>
         
         <link rel="stylesheet" href="/admin.css">
         <script src="/navbar.js" defer></script>
         <link rel="stylesheet" href="/footer.css">
         <link rel="stylesheet" href="/nav.css">
         <link rel="stylesheet" href="/overview.css">
         <script src="/topbtn.js" defer></script>
         <link rel="preconnect" href="https://fonts.googleapis.com">
         <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
         <script src="https://kit.fontawesome.com/01780eab25.js" crossorigin="anonymous"></script>
         <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap" rel="stylesheet"> 
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
         <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
         <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
         <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
         <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
         <link rel="manifest" href="/site.webmanifest">
        </head>
     <body>
       
        
         <section class="header" >
            
            <div class="container">

            <nav >
                <a href="/" class="logo"><img src="/logo.png"><span style="color: black;">elinso</span></a>
               <div class="navbtn">
                <a href="/" class="hero-btn2 heronew"> Home </a>
                <a class="hero-btn2 heronew"> Product </a>
                <a class="hero-btn2 heronew"> About </a>
                <a class="hero-btn2 heronew"> Contact </a>
                <a class="hero-btn2 heronew"> Subscription </a>
                <a href="login" class="hero-btn2"  ><i class="fa-solid fa-user"></i>Log out</a>
                </div>
                
            
                <ul id="sidemenu">
                    <li><a href="#contact" onclick="closemenu()" style="font-size: 13px;"><i class="fa-solid fa-xmark"></i></a></li>
                    <hr>
                    <li><a href="/">Home</a></li>
                    <hr>
                        <li><a href="#about">Product</a></li>
                    <hr>
                        <li><a href="#about">About</a></li>
                        <hr>
                        <li><a href="#contact">Contact</a></li>
                        <hr>
                        <p>
                            Thank you for choosing Telinso. We value your trust and support. Please free to Contact us anytime
                        </p>
                       
                        <li><a href="login" class="login">Log out</a></li>
                        <li><a href="/" class="login join">Subscription</a></li>
                   
                               
                </ul>
                
                <i class="fa-solid fa-user fas" onclick="openmenu()" style="color: black;"><a href="/index"></a></i>
            </nav>
            
             
         </section>
         
            <section class="overview" >
             
                <div class="row">
                    <div class="overview-col">
                        <h1>WELCOME TO TELINSO</h1>
                        <div class="welcome-text">
                        
                        <h2>Hello <span> Telinso</span></h2>
                        <h2 id="greeting"></h2>
                        
                        
                        </div>
                        <h2>Empowering farmers, sustaining tomorrow, reflecting today.<i class="fa-solid fa-notes-medical"></i></h2>
                        
                        <div class="Date-time">
                        
                         <h2 id="day"></h2>
                        
                         <h2 id="dateNumber"></h2>
 
                         </div>
                       
                      
                       
                       <P>
   
                           Soil health and crop productivity are one of the main issues in agriculture as they may lead 
                           to an unhealthy environment. The main cause of this is the use of excessive fertilizers in 
                           the soil. Therefore, it is necessary to conduct soil testing before starting agriculture.
                            A soil test is important for several reasons: to optimize crop production, to improve the
                             nutritional balance of the growing media and to save money and conserve energy by applying 
                             only the amount of fertilizer needed. Our solution is designed to aid a farmer in all aspects,
                              including monitoring soil conditions and nutrients. The data collected from the monitoring system will be stored on a cloud server for analysis. The main objective is to keep track of the level of nutrients in the soil. Knowing their soil 
                           before starting farming will assist farmers in planning cultivation with precision.</P>
                       
                           
                        
                   </div>
                     
               </div>
              
           </section>
           
              
              <section class="product">
               <div class="row1">
                <a href="/signup">
                    <div class="product-col" >
                        
                        <i class="fa-solid fa-right-to-bracket"></i>
                       
                        <h3>User Login</h3>
                        
                      <p>Streamline logins, manage users securely</p>
                                
                    
                                
                            </div>
                         </a>
                   <a href="/farmer">
                   <div class="product-col" >
                       
                    <i class="fa-solid fa-handshake-angle"></i>
                      
                       <h3>Farmer Assist</h3>
                       
                     <p>Farm smarter with personalized crop assistance.</p>
                               
                   
                               
                           </div>
                        </a>
                        <a href="/feedback">
                            <div class="product-col" >
                                
                                <i class="fa-solid fa-comments"></i>
                               
                                <h3>User Feedback</h3>
                                
                              <p>Collect insights, improve site continuously.</p>
                                        
                            
                                        
                                    </div>
                        </a>
                       
                
              
              </div>
               </section>
              
         
          

       <section class="footer">
          
       
            <div class="row">
                <div class="footer-col" >
                    <p>Soil Analysis</p>
                    <p>Visualization</p>
                    <p>Farmer Assist</p>
                    <p>Weather Forecast</p>
                   
                  
                        </div>
                        <hr>
                <div class="footer-col"  >
                      <p>Data Analytics</p>
                      <p>Cloud computing</p>
                      <p>Internet of things</p>
                      <p>Artificial intelligence</p>
                           
                                    </div>
                                    <hr>
                <div class="footer-col"  >
                   <p>Empowernment</p>
                   <p>Innovation</p>
                   <p>Possibilities</p>
                   <p>Collaboration</p>
                    
                </div>
                <hr>
            
            
           
            <div class="footer-col"  >
                
                
                <p>Home</p>
                <p>Product</p>
                <p>About</p>
                <p>Contact</p>
            </div>
            <hr>
    </div>
            <div class="footer-col" style="text-align: center;" >     
                   <p>
                    Telinso is an IoT-based solution that provides soil health data to farmers and agriculture enthusiasts. It consists of a comprehensive suite of software and hardware that can measure and monitor soil conditions and nutrients, such as pH, moisture, temperature, nitrogen, phosphorus, potassium, and more. By using Telinso, you can access real-time and accurate information about your soil health, and get customized recommendations on how to improve your crop productivity and soil quality. Telinso is a user-friendly, cost-effective, and scalable system that can help you optimize your farming practices and achieve sustainable agriculture. Learn more about Telinso and how it can benefit you. Contact us today
                </p>
            </div>
            <div class="footer-col" style="text-align: center;" >     
                <p>
                    <i class="fa-brands fa-instagram"></i><i class="fa-brands fa-linkedin"></i><i class="fa-brands fa-square-facebook"></i><i class="fa-brands fa-square-x-twitter"></i>
                   <br>
                   <p > 	&copy; TEAM TELINSO</p>
                </p>
            </div>
   </section>
   <script>
    // Get current date and time
    var now = new Date();
  
    // Extract date, time, and day
    var months = now.toLocaleDateString(undefined, { month: 'long', });
    var time = now.toLocaleTimeString();
    var dateNumber = now.getDate();
    var day = now.toLocaleDateString(undefined, { weekday: 'long' });
  
    // Get hour to determine the greeting
    var hour = now.getHours();
    var greeting = "";
  
    if (hour < 12) {
      greeting = "Good Morning";
    } else if (hour < 18) {
      greeting = "Good Afternoon";
    } else {
      greeting = "Good Evening";
    }
  
   
    document.getElementById("greeting").innerHTML = greeting;
    document.getElementById("dateNumber").innerHTML = dateNumber +" "+ months;
    document.getElementById("day").innerHTML =  day;
  </script>
         </body>
</html>