<html>
     <head>
         <meta name="viewport" content="width=device-width,initial-scale=1.0">
         <title>TELINSO</title>
         
         <link rel="stylesheet" href="/soilhealth.css">
         <script src="/navbar.js" defer></script>
         <script src="/topbtn.js" defer></script>
        <link rel="stylesheet" href="/footer.css">
        <link rel="stylesheet" href="/nav.css">
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
        <script src="/soilhealth.js" defer></script>
         <link rel="preconnect" href="https://fonts.googleapis.com">
         <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
         <script src="https://kit.fontawesome.com/01780eab25.js" crossorigin="anonymous"></script>
         <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap" rel="stylesheet"> 
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
         <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
         <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
         <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
         <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
         <link rel="manifest" href="/site.webmanifest">
         <style>
            @media(max-width:800px){

             .header{
                        background-image:linear-gradient(to bottom, rgba(14, 13, 13, 0.838) 15%,transparent 90%),url(/sad.jpeg);
                        
                        
                    }
                }
         </style>
        </head>
     <body>
      <button onclick="topFunction()" id="myBtn" class="topbtn" title="Go to top"><i class="fa-solid fa-arrow-up"></i></button> 
        
         <section class="header">
            
            <div class="container">

            <nav >
                <a href="/" class="logo"><img src="/logo.png"><span>elinso</span></a>
               <div class="navbtn">
                <a href="/" class="hero-btn2 heronew"> Home </a>
                <a class="hero-btn2 heronew"> Product </a>
                <a class="hero-btn2 heronew"> About </a>
                <a class="hero-btn2 heronew"> Contact </a>
                <a class="hero-btn2 heronew"> Subscription </a>
                <a href="/login" class="hero-btn2"  ><i class="fa-solid fa-user"></i>Log out</a>
                </div>
                
            
                <ul id="sidemenu">
                    <li><a href="#contact" onclick="closemenu()" style="font-size: 13px;"><i class="fa-solid fa-xmark"></i></a></li>
                    <hr>
                    <li><a href="/">Home</a></li>
                    <hr>
                        <li><a href="#about">Product</a></li>
                    <hr>
                        <li><a href="#about">About</a></li>
                        <hr>
                        <li><a href="#contact">Contact</a></li>
                        <hr>
                        <p>
                            Thank you for choosing Telinso. We value your trust and support. Please free to Contact us anytime
                        </p>
                       
                        <li><a href="login" class="login">Log out</a></li>
                        <li><a href="/" class="login join">Subscription</a></li>
                   
                        
                </ul>
                
                <i class="fa-solid fa-user fas" onclick="openmenu()"></i>
            </nav>
            
             
         </section>
         <section class="overview" >
             
            <div class="row">
               <div class="overview-col">
                   <h1>CONFIRM DELETION</h1>
                   <span class="description"> Description </span>
                   <span class="overview-description">
                    This action is essential to prevent interference with previous data. Proceed with caution. 
                    Confirm deletion to permanently remove the item from the database. Your decision will prevent unwanted interference and ensure data integrity.
                </span>
                  
                   
                   
                   
                       
                    
               </div>
                 
           </div>
           
           
           
         
         
       </section>
       
         
       <section class="contact">
        <h1>Delete Data</h1>
        <span class="description"> User Instructions</span>
                   <span class="overview-description">
                    <ul class="overview-description">
                      <li>Keep in mind that deleted data cannot be recovered once permanently deleted.</li>
                      <li>Before proceeding with deletion, ensure that the data is saved.</li>
                      <li>To delete, click on the delete icon provided.</li>
                    </ul>
                   </span>
       
           
        <div class="contact-row" >
            
           
            <div class="data" id="myUL" style="flex-direction: row;">
                <div class="soildata" style="grid-template-columns: auto;">
                        <p>Previous Data</p>
                        <p>Delete now</p>
                        </div>
                        <div class="feature-archive">
                        <a href="/delete/delete-data"><i class="fa-solid fa-trash"></i></a>
                        
                        </div>
                        
                       
                     
                    </div>
                    
                   
          
               </div>
            
               
       
   </section>


       <section class="footer">
          
        <div class="row">
           
                <div class="footer-col" >
                    <p>Soil Analysis</p>
                    <p>Visualization</p>
                    <p>Farmer Assist</p>
                    <p>Weather Forecast</p>
                  
                        </div>
                        <hr>
                <div class="footer-col"  >
                      <p>Data Analytics</p>
                      <p>Cloud computing</p>
                      <p>Internet of things</p>
                      <p>Artificial intelligence</p>
                           
                                    </div>
                                    <hr>
                <div class="footer-col"  >
                   <p>Empowernment</p>
                   <p>Innovation</p>
                   <p>Possibilities</p>
                   <p>Collaboration</p>
                    
                </div>
            
            <hr>
           
            <div class="footer-col"  >
                
                
                <p>Home</p>
                <p>Product</p>
                <p>About</p>
                <p>Contact</p>
            </div>
            <hr>
         </div>
            <div class="footer-col" style="text-align: center;" >     
                   <p>
                    Telinso is an IoT-based solution that provides soil health data to farmers and agriculture enthusiasts. It consists of a comprehensive suite of software and hardware that can measure and monitor soil conditions and nutrients, such as pH, moisture, temperature, nitrogen, phosphorus, potassium, and more. By using Telinso, you can access real-time and accurate information about your soil health, and get customized recommendations on how to improve your crop productivity and soil quality. Telinso is a user-friendly, cost-effective, and scalable system that can help you optimize your farming practices and achieve sustainable agriculture. Learn more about Telinso and how it can benefit you. Contact us today
                </p>
            </div>
            <div class="footer-col" style="text-align: center;" >     
                <p>
                    <i class="fa-brands fa-instagram"></i><i class="fa-brands fa-linkedin"></i><i class="fa-brands fa-square-facebook"></i><i class="fa-brands fa-square-x-twitter"></i>
                   <br>
                   <p > 	&copy; TEAM TELINSO</p>
                </p>
            </div>
   </section>
   <script
   src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDn4lHzl_n5h7vQOz1jthHgTw-geOT5LIA&callback=initMap&libraries=marker&v=beta"
   defer></script>
    <script>
        
     function searchData() {
          
          var input = document.getElementById("myInput").value.toLowerCase();
          var elements = document.getElementsByClassName("soil-search");
          var elements2 = document.getElementsByClassName("month-search");

         
          for (var i = 0; i < elements.length; i++) {
              
              var textContent = elements[i].textContent.toLowerCase();
              var textContent2 = elements2[i].textContent.toLowerCase();
              if (textContent.includes(input)||textContent2.includes(input)) {
                  
                  elements[i].parentElement.parentElement.style.display = "flex";
              } else {
                  
                  elements[i].parentElement.parentElement.style.display = "none";
              }
          }
      }
      function showCurrentLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(
        (position) => {
          const lat = position.coords.latitude;
          const lng = position.coords.longitude;

          const marker = document.createElement("gmp-advanced-marker");
          marker.setAttribute("position", `${lat},${lng}`);
          marker.setAttribute("title", "Current Location");
          document.getElementById("marker-click-event-example").appendChild(marker);
        },
        () => {
          alert("Error: The Geolocation service failed.");
        }
      );
    } else {
      alert("Error: Your browser doesn't support geolocation.");
    }
  }
    </script>

         </body>
</html>