<html>
     <head>
         <meta name="viewport" content="width=device-width,initial-scale=1.0">
         <title>TELINSO</title>
         
         <link rel="stylesheet" href="/feedback.css">
         <script src="/navbar.js" defer></script>
        <link rel="stylesheet" href="/footer.css">
        <link rel="stylesheet" href="/nav.css">
         <script src="/topbtn.js" defer></script>
         <link rel="stylesheet" href="/overview.css">
         <link rel="preconnect" href="https://fonts.googleapis.com">
         <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
         <script src="https://kit.fontawesome.com/01780eab25.js" crossorigin="anonymous"></script>
         <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap" rel="stylesheet"> 
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
         <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
         <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
         <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
         <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
         <link rel="manifest" href="/site.webmanifest">
         <style>
            @media (max-width:800px){
            .header{
                background-image:linear-gradient(to bottom, rgba(14, 13, 13, 0.838) 15%,transparent 90%),url(feedback.jpeg);
            }
           }
         </style>
        </head>
     <body>
       
        <button onclick="topFunction()" id="myBtn" class="topbtn" title="Go to top"><i class="fa-solid fa-arrow-up"></i></button>
        
         <section class="header">
            
            <div class="container">

                <nav >
                    <a href="/" class="logo"><img src="/logo.png"><span>elinso</span></a>
                     <div class="navbtn">
                      <a href="/" class="hero-btn2 heronew"> Home </a>
                      <a class="hero-btn2 heronew"> Product </a>
                      <a class="hero-btn2 heronew"> About </a>
                      <a class="hero-btn2 heronew"> Contact </a>
                      <a class="hero-btn2 heronew"> Subscription </a>
                      <a href="login" class="hero-btn2"  ><i class="fa-solid fa-user"></i>Log out</a>
                      </div>
                      
                  
                      <ul id="sidemenu">
                          <li><a href="#contact" onclick="closemenu()" style="font-size: 13px;"><i class="fa-solid fa-xmark"></i></a></li>
                          <hr>
                          <li><a href="/">Home</a></li>
                          <hr>
                              <li><a href="#about">Product</a></li>
                          <hr>
                              <li><a href="#about">About</a></li>
                              <hr>
                              <li><a href="#contact">Contact</a></li>
                              <hr>
                              <p>
                                  Thank you for choosing Telinso. We value your trust and support. Please free to Contact us anytime
                              </p>
                             
                              <li><a href="login" class="login">Log out</a></li>
                              <li><a href="/" class="login join">Subscription</a></li>
                         
                                     
                      </ul>
                      
                      <i class="fa-solid fa-user fas" onclick="openmenu()"><a href="/index"></a></i>
                  </nav>
                  <div class="icons-header">
                    <a href="/signup"><i class="fa-solid fa-right-to-bracket"></i></a>
                    <a href="/farmer"><i class="fa-solid fa-handshake-angle"></i></a>
                    </div>
            
             
         </section>
         <section class="overview" >
             
            <div class="row">
               <div class="overview-col">
                   <h1>USER FEEDBACK</h1>
                   <span class="description"> Description </span>
                   <span class="overview-description">
                    Refine your farming strategy with Telinso's User Feedback feature. Access extensive soil data to optimize crop management and sustainability practices. Stay ahead with accurate insights for informed decisions and thriving harvests. Telinso ensures seamless alignment of
                     farming operations with evolving soil conditions for enhanced productivity and long-term success, driven by valuable user feedback.
                    </span>
                   
                  
                   
                   <P>
                    Embark on a user-friendly journey as you explore Telinso's groundbreaking feature data storage coupled with detailed feedback pictures. 
                    Effortlessly input and safeguard essential information with visual snapshots. Navigate through the feedback steps seamlessly, observe trends,
                     and make informed decisions for an optimal user experience. This efficient tool guarantees a comprehensive feedback archive for future
                      reference, offering a visual timeline of your input evolution. Telinso simplifies the complexities of user feedback management, 
                      bringing precision and clarity to the feedback process.
                     Elevate your website interaction by preserving user details for a seamless and thriving feedback experience.
                </P>
                   
                       
                    
               </div>
                 
           </div>
          
       </section>
         
           <section class="contact">
            <h1>Feedback</h1>
            
            <div class="contact-row">
               
                <% feedbackdata.forEach((row,index) => { %>
                            <div class="data">
                            <div class="feedback-email"><p><span><%= row.name %></span></p>
                            <p class="italic-email"><%= row.email %></p>
                            </div>
                            <p class="feedback-message"><%= row.message %> </p>
                            </div>
                            
                            
        
                        
                        
                <% })  %>
              
                   </div>
                
           
       </section>

       <section class="footer">
          
        <div class="row">
           
                <div class="footer-col" >
                    <p>Soil Analysis</p>
                    <p>Visualization</p>
                    <p>Farmer Assist</p>
                    <p>Weather Forecast</p>
                  
                        </div>
                        <hr>
                <div class="footer-col"  >
                      <p>Data Analytics</p>
                      <p>Cloud computing</p>
                      <p>Internet of things</p>
                      <p>Artificial intelligence</p>
                           
                                    </div>
                                    <hr>
                <div class="footer-col"  >
                   <p>Empowernment</p>
                   <p>Innovation</p>
                   <p>Possibilities</p>
                   <p>Collaboration</p>
                    
                </div>
            
            <hr>
           
            <div class="footer-col"  >
                
                
                <p>Home</p>
                <p>Product</p>
                <p>About</p>
                <p>Contact</p>
            </div>
            <hr>
         </div>
            <div class="footer-col" style="text-align: center;" >     
                   <p>
                    Telinso is an IoT-based solution that provides soil health data to farmers and agriculture enthusiasts. It consists of a comprehensive suite of software and hardware that can measure and monitor soil conditions and nutrients, such as pH, moisture, temperature, nitrogen, phosphorus, potassium, and more. By using Telinso, you can access real-time and accurate information about your soil health, and get customized recommendations on how to improve your crop productivity and soil quality. Telinso is a user-friendly, cost-effective, and scalable system that can help you optimize your farming practices and achieve sustainable agriculture. Learn more about Telinso and how it can benefit you. Contact us today
                </p>
            </div>
            <div class="footer-col" style="text-align: center;" >     
                <p>
                    <i class="fa-brands fa-instagram"></i><i class="fa-brands fa-linkedin"></i><i class="fa-brands fa-square-facebook"></i><i class="fa-brands fa-square-x-twitter"></i>
                   <br>
                   <p > 	&copy; TEAM TELINSO</p>
                </p>
            </div>
   </section>
              
         </body>
</html>