<html>
     <head>
         <meta name="viewport" content="width=device-width,initial-scale=1.0">
         <title>TELINSO</title>
         
         <link rel="stylesheet" href="/home.css">
         <link rel="stylesheet" href="/navbar.css">
         <script src="/navbar.js" defer></script>
         <link rel="stylesheet" href="/footer.css">
         <link rel="preconnect" href="https://fonts.googleapis.com">
         <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
         <script src="https://kit.fontawesome.com/01780eab25.js" crossorigin="anonymous"></script>
         <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap" rel="stylesheet"> 
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
         <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
         <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
         <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        </head>
     <body>
       
        
         <section class="header">
            
            <div class="container">

            <nav >
                
                    <a href="/" class="logo"><img src="/logo.png"></a>
              
                
                    <i class="fa-solid fa-bars  fas" onclick="openmenu()"></i>
            

                   <div class="navbtn">
                   <a  class="hero-btn2 heronew"> Home </a>
                   <a class="hero-btn2 heronew"> Product </a>
                   <a class="hero-btn2 heronew"> About </a>
                   <a class="hero-btn2 heronew"> Contact </a>
                   <a class="hero-btn2 heronew"> Subscription </a>
                   <a href="login" class="hero-btn2"  ><i class="fa-solid fa-user"></i>Login</a>
                   </div>

                <ul id="sidemenu">
                    <li><a href="" onclick="closemenu()" style="font-size: 13px;"><i class="fa-solid fa-xmark"></i></a></li>
                    <hr>
                    <li><a href="/">Home</a></li>
                    <hr>
                        <li><a href="#product">Product</a></li>
                    <hr>
                        <li><a href="#about">About</a></li>
                        <hr>
                        <li><a href="#contact">Contact</a></li>
                        <hr>
                        <p>
                            Thank you for visiting Telinso. We appreciate your interest and feedback. Contact us anytime
                        </p>
                       
                        <li><a href="login" class="login">Login</a></li>
                        <li><a href="/" class="login join">Join us</a></li> </ul>
               
               
            </nav>
            
             <div class="text-box">
                 <h1>TELINSO</h1>
                 <H4>TECHNOLOGY LEVERAGED INNOVATION FOR SOIL HEALTH</H4>
                 <P>
                    “We live in a smart world where technological trends and advancement are making life easier for everyone ”
                 </P>
                 <a href="login" class="hero-btn"  >Login now</a>
             </div>

            </div>
             
         </section>
         <section class="vision">
         <div class="row">

            <div class="vision-col" >
                
                <img src="/digital-asset-management(1).png">
                <p>Enables individuals or groups to take control of their lives, make choices, and achieve their objectives.</p>
                
                
            </div>
            <div class="vision-col" >
                
                <img src="/internet-of-things.png">
                <p>Innovation implies a commitment to finding creative and effective solutions to challenges, which fosters progress and growth.

                </p>
               
          
            </div>
          
            <div class="vision-col" >
                
                <img src="/ai.png">
                <p>Enabling individuals to explore new avenues and envision different futures by providing a catalyst for exploring and realizing various positive outcomes.

                </p>
                
         
            </div>
            
        </div>
        </section>
         <section class="overview">
          
             <div class="row">
                <div class="overview-col">
                    <h1>OVERVIEW</h1>
                    
                   
                    
                    <P>

                        Soil health and crop productivity are crucial factors in agriculture, playing a pivotal role in maintaining a sustainable environment. The primary cause of soil degradation is the excessive use of fertilizers. Therefore, it is essential to conduct soil testing before initiating agriculture. Soil testing holds significance for various reasons: optimizing crop production, improving the nutritional balance of the growing media, and saving money and energy by applying only the necessary amount of fertilizer. Our solution is designed to assist farmers comprehensively, including monitoring soil conditions and nutrients. Data collected from the monitoring system will be stored on a cloud server for analysis. The primary objective is to keep track of nutrient levels in the soil.
                         Having knowledge of their soil before commencing farming will aid farmers in precise cultivation planning 
                    </P>
                        </div>
                   
            </div>
            <a href="login" class="overview-btn"  >Explore now</a>
        </section>
        <section class="feature">
            <div class="row">
                <div class="feature-col" >
                    <i class="fa-solid fa-chart-simple"></i>
                    <h3>Data Analytics</h3>
                    <p>Unlock Power of data</p>
                  
                        </div>
                <div class="feature-col"  >
                    <i class="fa-solid fa-cloud"></i>
                                <h3>Cloud computing</h3>
                                <p>Computing without limits</p>

                           
                                    </div>
                <div class="feature-col"  >
                    <i class="fa-brands fa-connectdevelop"></i>
                    <h3>Internet of things</h3>
                    <p>Connect everything, everywhere</p>
                    
                </div>
            
            
           
            <div class="feature-col"  >
                <i class="fa-solid fa-robot"></i>
                <h3>Artificial intelligence</h3>
                <p>intelligence beyond imagination</p>
                </div>
            </div>
            </section>
            <section id="about" class="about">
          
                <div class="row">
                    <div class="about-col1">
                      <img src="/IMG-2977(1).JPG">
                    </div>
                   <div class="about-col2">
                       <h1>Revolutionize Agriculture With Telinso</h1>
                       
                      
                       
                       <P>
   
                           Our proposed solution will help the farmer in all aspects, including monitoring nutrients and
                            soil conditions. The data obtained from the monitoring system will be archived on a cloud server
                             for evaluation. The main goal is to keep track of the level of nutrients in the soil. Farmers will be able to accurately
                               plan cultivation by knowing their soil before starting farming. The sensor data has been incorporated into our website. The soil analysis feature on our website allows for the
                                display of results for various parameters and the visualization of the analyzed data.
                             The forecasting section is where they will receive the five-day weather forecast in advance. </P>
                       
                           
                   </div>
                      
               </div>
               
           </section>
           <section id="product" class="product">
            <div class="row1">
                
                <div class="product-col" >
                    
                    <i class="fa-solid fa-magnifying-glass-chart"></i>
                   
                    <h3>Soil Analysis</h3>
                    
                  <p>Our website offers a comprehensive soil sample analysis service. Discover the health of your soil, nutrient levels, and recommendations to optimize plant growth. Unlock the potential of your land with data-driven insights for thriving gardens and bountiful harvests</p>
                            
                
                            
                        </div>
                    
                        
                <div class="product-col"  >
                    <i class="fa-solid fa-chart-line"></i>
                                <h3>Visualization</h3>
                                <p>Explore your soil sample analysis results with our interactive data visualization feature. Gain insights through informative charts, graphs, and maps that make it easy to understand and harness the full potential of your land for gardening or farming.</p>
                                        
                
                                   
                </div>
                               
                
               
            </div>
           <div class="row2">
           
            <div class="product-col"  >
                <i class="fa-solid fa-cloud-bolt"></i>
                <h3>Weather Forecast</h3>
                
              <p>Stay Informed with Accurate Weather Forecasts: Our website provides real-time weather updates, forecasts, and conditions for your location and beyond. Plan your day with confidence, whether it's checking for sunshine,
                   rain, or any other weather conditions, all at your fingertips</p>
                        
             </div>
             <div class="product-col"  >
                <i class="fa-solid fa-handshake-angle"></i>
                <h3>Farmer Assist</h3>
                
                 <p>Go-to resource for everything related to soil.We understand that healthy soil is the bedrock of 
                  successful farming, and our mission is to equip farmers 
                  with the knowledge they need to nurture their land and grow bountiful crops.</p>
                        
                        
            </div>
             
             
             
         
           
           </div>
            </section>
            <section class="conclusion" id="conclusion">
                
                <div class="row">
                   <div class="conclusion-col">
                    <div class="row-2 " >
                        <div class="conclusion-col2" >
                            
                            <h3>Empowernment <i class="fa-solid fa-plus"onclick="show('conclusion-para-1')"></i></h3>
                            <p id="conclusion-para-1" style="display: none;">Empower your soil journey with Telinso, unraveling the depths of soil health through diverse
                                 parameters for sustainable agriculture enlightenment.</p>
                          
                                </div>
                        <div class="conclusion-col2">
                            
                                        <h3>Innovation <i class="fa-solid fa-plus"onclick="show('conclusion-para-2')"></i></h3>
                                        <p id="conclusion-para-2" style="display: none;">Revitalize farming practices with Telinso's inventive solutions, exploring various soil parameters to foster 
                                            sustainable agriculture and cultivate healthier, thriving soils.</p>
        
                                   
                        </div>
                    
                             <div class="conclusion-col2" >
                               
                                 <h3>Possibilities <i class="fa-solid fa-plus"onclick="show('conclusion-para-3')"></i></h3>
                                 <p id="conclusion-para-3" style="display: none;">Unlock the endless possibilities beneath your feet. Telinso explores
                                     diverse soil parameters, revealing potential for sustainable farming and environmental resilience.</p>
                               
                             </div>
                             <div class="conclusion-col2"  >
                                 
                                <h3>Collaboration <i class="fa-solid fa-plus" onclick="show('conclusion-para-4')"></i></h3>
                                <p id="conclusion-para-4" style="display: none;">Foster agricultural harmony through Telinso's collaborative platform, uniting stakeholders to
                                     interpret soil parameters for informed decisions and collective efforts towards sustainable farming.</p>

                                        
                             </div>
                    </div>

                      
                     </div>
                    <div class="conclusion-col">
                        <h1>Transforming Agriculture With Innovative IoT Solutions</h1>
                      
                       
                      
                       
                        <P>
                            Elevate agriculture with our cloud-based technology, enabling real-time soil condition and nutrient monitoring. 
                            Our low-cost sensor nodes provide timely data, enhancing productivity and reducing costs for farmers.
                             By replacing traditional methods, we foster collaboration and efficiency in the agricultural sector, driving
                              sustainability. We aim to address challenges through the development and deployment of low-cost, low-power, and
                               real-time soil monitoring systems. Join us in revolutionizing farming practices and ensuring a prosperous, 
                               sustainable future for agriculture.
                        </P>
                        <a href="login" class="conclusion-btn"  >Join now</a>
                            </div>
                      
               
                            </div>
               
           </section>
           <!--
           <section class="team">
            <h1> Meet our team</h1>
            <div class="row">
                
                <div class="team-col" >
                    <IMG src="/gok.jpg">
                    
                    <h3>GOKULJITH K</h3>
                    <p>ECE UNDERGRAD</p>
                  
                        </div>
                <div class="team-col"  >
                    <IMG src="/shadha(1).jpg">
                                <h3>FATHIMA SHADHA </h3>
                                <p>ECE UNDERGRAD</p>

                           
                                    </div>
                <div class="team-col"  >
                    <IMG src="/jeff.jpg">
                    <h3>JEFF JERRY</h3>
                    <p>ECE UNDERGRAD</p>
                    
                </div>
            
            
           
            <div class="team-col"  >
                <IMG src="/hari.jpg">
                <h3>HARIKRISHNAN NS</h3>
                <p>ECE UNDERGRAD</p>
                </div>

            <div class="team-col"  >
                    <IMG src="/thejus.jpg">
                    <h3>THEJUS M</h3>
                    <p>CSE UNDERGRAD</p>
                    </div>
            </div>
            
            </section>
            -->
           <section id="contact" class="contact">
            <div class="row">
               <div class="contact-col">
                  
                   
                  
                   <h1>Get In Touch </h1>
                
                    <form action="" method="POST">
                        <input type="text" name="name" placeholder="Your Name" required>
                        <input type="email" name="email" placeholder="Your Email" required>
                        <textarea name="message" rows="6" placeholder="Your Message"></textarea>
                        <button type="submit" class="btn btn2">Send</a></button>
                    </form> 

                 
                </div>
                <div class="contact-col">
                  
                    <p>We are a team of electronics and communication engineering students who are
                     passionate about internet of things and agriculture. Our project, Telinso, 
                     is an IoT-based solution that aims to provide soil health data to farmers and agriculture enthusiasts. Telinso consists of a comprehensive suite of software and hardware that can measure and monitor soil conditions and nutrients, such as pH, moisture, temperature, nitrogen, phosphorus, potassium, and more. By using Telinso, farmers can access real-time and accurate information about their soil health, and get customized recommendations on how to improve their crop productivity and soil quality. Telinso is a user-friendly, cost-effective, and scalable system that can help farmers
                     optimize their farming practices and achieve sustainable agriculture.
                </p>
                   
                     </div>
                  
           </div>
           
       </section>

       <section class="footer">
          
            <div class="row">
                <div class="footer-col1" >
                    <p>Soil Analysis</p>
                    <p>Visualization</p>
                    <p>Farmer Assist</p>
                    <p>Weather Forecast</p>
                  
                        </div>
                        <hr>
                <div class="footer-col1"  >
                      <p>Data Analytics</p>
                      <p>Cloud computing</p>
                      <p>Internet of things</p>
                      <p>Artificial intelligence</p>
                           
                                    </div>
                                    <hr>
                <div class="footer-col1"  >
                   <p>Empowernment</p>
                   <p>Innovation</p>
                   <p>Possibilities</p>
                   <p>Collaboration</p>
                    
                </div>
                <hr>
            
           
            <div class="footer-col1"  >
                
                
                <p>Home</p>
                <p>Product</p>
                <p>About</p>
                <p>Contact</p>
            </div>
            <hr>
    </div>
            <div class="footer-col" style="text-align: center;" >     
                   <p>
                    Telinso is an IoT-based solution that provides soil health data to farmers and agriculture enthusiasts. It consists of a comprehensive suite of software and hardware that can measure and monitor soil conditions and nutrients, such as pH, moisture, temperature, nitrogen, phosphorus, potassium, and more. By using Telinso, you can access real-time and accurate information about your soil health, and get customized recommendations on how to improve your crop productivity and soil quality. Telinso is a user-friendly, cost-effective, and scalable system that can help you optimize your farming practices and achieve sustainable agriculture. Learn more about Telinso and how it can benefit you. Contact us today
                </p>
            </div>
            <div class="footer-col" style="text-align: center;" >     
                <p>
                    <i class="fa-brands fa-instagram"></i><i class="fa-brands fa-linkedin"></i><i class="fa-brands fa-square-facebook"></i><i class="fa-brands fa-square-x-twitter"></i>
                   <br>
                   <p > 	&copy; TEAM TELINSO</p>
                </p>
         </div>
   </section>
              <script>
                function show(id){
                   conclusionElement= document.getElementById(id);
                    if (conclusionElement.style.display === 'none') {
       
                    conclusionElement.style.display = 'flex';
                } else {
                
                    conclusionElement.style.display = 'none';
                }
                }
              </script>
         </body>
</html>