<html>
     <head>
         <meta name="viewport" content="width=device-width,initial-scale=1.0">
         <title>REVIVE</title>
         
         <link rel="stylesheet" href="/welcome.css">
         <script src="/navbar.js" defer></script>
         <link rel="stylesheet" href="/nav.css">
         <link rel="stylesheet" href="/footer.css">
         <link rel="preconnect" href="https://fonts.googleapis.com">
         <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
         <script src="https://kit.fontawesome.com/01780eab25.js" crossorigin="anonymous"></script>
         <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap" rel="stylesheet"> 
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
         <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
         
        </head>
     <body>
        <div id="myBtn2">
            <a  href="/" class="topbtn2" title="more"><i class="fa-solid fa-house"></i></a>
            <a  onclick="openmenu()" id="nav" class="topbtn2" title="more"><i class="fa-solid fa-circle-dot"></i></a>
            <a   class="topbtn2" title="more"><i class="fa-solid fa-user"></i></a>
            </div>
        
         <section class="header" >
            
            <div class="container">

            <nav >
                
               <div class="navbtn">
                <a href="/" class="hero-btn2 heronew"> Home </a>
                <a href="#product" class="hero-btn2 heronew"> Product </a>
                <a href="#about" class="hero-btn2 heronew"> About </a>
                <a href="#contact" class="hero-btn2 heronew"> Contact </a>
                <a href="/" class="hero-btn2"  ><i class="fa-solid fa-user"></i>Logout</a>
                </div>
                
            
                <ul id="sidemenu">
                    <li><a  onclick="closemenu()" style="font-size: 13px;"><i class="fa-solid fa-xmark"></i></a></li>
                    <hr>
                    <li><a href="#about">Home</a></li>
                    <hr>
                        <li><a href="#about">Product</a></li>
                    <hr>
                        <li><a href="#about">About</a></li>
                        <hr>
                        <li><a href="#contact">Contact</a></li>
                        <hr>
                        <p>
                            Thank you for choosing Revive. We value your trust and support. Please free to Contact us anytime
                        </p>
                       
                        <li><a href="/" class="login">Logout</a></li>
                        <li><a href="" class="login join">Subscription</a></li>
                   
                               
                </ul>
                <a class="logo"><img src="logo.png"></a>
                <i class="fa-solid fa-bars fas" onclick="openmenu()"></i>
            </nav>
            
             
         </section>
         <section class="overview">
         <div class="row">
            <div class="overview-col">
                <div class="welcome-text">
                <h1>WELCOME TO TERONO</h1>
                 <h2>Hello <span>Gokuljith</span></h2>
                <h2 id="greeting"></h2>
                
                </div>
                <img src="welcom.png" alt="">
                <h2 id="day"></h2>
                <h2>Enter Terono's Green Initiative. <i class="fa-solid fa-heart-circle-plus"></i></h2>
                
                <div class="Date-time">
                <div class="location">
                 <i class="fa-solid fa-location-dot"></i>
                 <div class="location-date">
                     <h2 >Location</h2>
                     <h2>India</h2>
                 </div>
                 
                </div>
                <hr>
                <div class="location">
                 <i class="fa-solid fa-calendar-days"></i>
                 <div class="location-date">
                     <h2 >Date</h2>
                     <h2 id="dateNumber"></h2>
                 </div>
                </div>

                 </div>
                 
                

 
                
               
                
             <P>

                 Soil health and crop productivity are crucial factors in agriculture, playing a pivotal role in maintaining a sustainable environment.
                  The primary cause of soil degradation is the excessive use of fertilizers. Therefore, it is essential to conduct soil testing before 
                  initiating agriculture. Soil testing holds significance for various reasons: optimizing crop production, improving the nutritional 
                  balance of the growing media, and saving money and energy by applying only the necessary amount of fertilizer. Our solution is designed 
                  to assist farmers comprehensively, including monitoring soil conditions and nutrients. Data collected from the monitoring system will be
                   stored on a cloud server for analysis. The primary objective is to keep track of nutrient levels in the soil.
                  Having knowledge of their soil before commencing farming will aid farmers in precise cultivation planning.
             </P>
                    
                 
            </div>
              
        </div>
           
              
              <section class="product">
               <div class="row1">
                <a href="/platformx">
                    <div class="product-col" >
                        
                        <i class="fa-solid fa-calendar-days"></i>
                            <div>
                                <h3>Platform-X</h3>
                                
                            <p>Streamline Events with Powerful Management Tools.</p>
                                        
                            </div>
                                
                            </div>
                         </a>
                   <a href="/reporting">
                   <div class="product-col" >
                       
                            <i class="fa-solid fa-comments"></i>
                            <div>
                            <h3>Reporting</h3>
                            
                            <p>Insightful Reporting for Informed Decision-Making.</p>
                            </div>        
                        
                               
                           </div>
                           </a>
                           <a href="/reward">    
                            <div class="product-col"  >
                                <i class="fa-solid fa-handshake-angle"></i>
                                    <div>
                                    <h3>Reward</h3>
                                    
                                    <p>Incentivize Engagement with Exciting Reward.</p>
                                    </div>      
                                        
                            </div>
                         </a>   
                       
                
                  
               </div>
              <div class="row2">
               
              <a href="/polls">
               <div class="product-col"  >
                <i class="fa-solid fa-square-poll-vertical"></i>
                        <div>
                        <h3>Polls & Survey</h3>
                        
                        <p>Gather Insights Through Interactive Surveys.</p>
                        
                    </div>   
                </div>
            </a>
            <a href="/binfinder">    
                <div class="product-col"  >
                    <i class="fa-solid fa-location-dot"></i>
                        <div>
                        <h3>Bin Finder</h3>
                        
                        <p>Locate Bins Easily with User-Friendly Tools.</p>
                        </div>     
                            
                </div>
             </a>  
             <a href="/resources">    
                <div class="product-col"  >
                    <i class="fa-solid fa-book-open-reader"></i>
                        <div>
                        <h3>Resources</h3>
                        
                        <p>Access Valuable Resources for Sustainable Practices.</p>
                        </div>      
                            
                </div>
             </a>    
                
                
            
              
              </div>
               </section>
              
         
           <section class="contact">
            <div class="row">
               <div class="contact-col">
                  
                   
                  
                   <h1>Contact us</h1>
                
                    <form action="/feedback" method="POST">
                        
                        <input type="text" name="name" placeholder="Your Name" required>
                        <input type="email" name="email" placeholder="Your email" required>
                        <textarea name="message" rows="6" placeholder="Your Message"></textarea>
                        <button type="submit" class="btn btn2">Send</a></button>
                    </form> 

                 
                </div>
                <div class="contact-col">
                  
                    <p>Revive is a waste management solution engineered by our passionate team of electronics and communication engineering students. It offers a sophisticated suite of software and hardware designed to revolutionize waste collection and management. With real-time monitoring capabilities and advanced data analytics, Revive empowers municipalities and waste management companies to optimize collection routes, minimize operational costs, and enhance environmental sustainability. Its user-friendly interface provides actionable insights and customizable recommendations, enabling communities to make informed decisions for efficient waste management practices. Revive is scalable, cost-effective, and committed to fostering a cleaner, greener future through innovative technology and sustainable solutions.

                </p>
                   
                     </div>
                  
           </div>
           
       </section>

       <section class="footer">
          
       
            <div class="row">
                <div class="footer-col1" >
                    <p>Event Management</p>
                    <p>Bin Locator</p>
                    <p>Reporting</p>
                    <p>Polls & Survey</p>
                   
                  
                        </div>
                        <hr>
                <div class="footer-col1"  >
                      <p>Data Analytics</p>
                      <p>Cloud computing</p>
                      <p>Internet of things</p>
                      <p>Artificial intelligence</p>
                           
                                    </div>
                                    <hr>
                <div class="footer-col1"  >
                   <p>Transformation</p>
                   <p>Sustainability</p>
                   <p>Community</p>
                   <p>Efficiency</p>
                    
                </div>
                <hr>
            
                <div class="footer-col1"  >
                    
                    
                    <p>Home</p>
                    <p>Product</p>
                    <p>About</p>
                    <p>Contact</p>
                </div>
            <hr>
    </div>
            <div class="footer-col" style="text-align: center;" >     
                   <p>
                    Revive is a waste management solution engineered by our passionate team of electronics and communication engineering students. It offers a sophisticated suite of software and hardware designed to revolutionize waste collection and management. With real-time monitoring capabilities and advanced data analytics, Revive empowers municipalities and waste management companies to optimize collection routes, minimize operational costs, and enhance environmental sustainability. Its user-friendly interface provides actionable insights and customizable recommendations, enabling communities to make informed decisions for efficient waste management practices. Revive is scalable, cost-effective, and committed to fostering a cleaner, greener future through innovative technology and sustainable solutions. 
                 </p>
            </div>
            <div class="footer-col" style="text-align: center;" >     
                <p>
                    <i class="fa-brands fa-instagram"></i><i class="fa-brands fa-linkedin"></i><i class="fa-brands fa-square-facebook"></i><i class="fa-brands fa-square-x-twitter"></i>
                   <br>
                   <p > 	&copy; TEAM REVIVE</p>
                </p>
            </div>
   </section>
   <script>
    // Get current date and time
    var now = new Date();
  
    // Extract date, time, and day
    var months = now.toLocaleDateString(undefined, { month: 'long', });
    var time = now.toLocaleTimeString();
    var dateNumber = now.getDate();
    var day = now.toLocaleDateString(undefined, { weekday: 'long' });
  
    // Get hour to determine the greeting
    var hour = now.getHours();
    var greeting = "";
  
    if (hour < 12) {
      greeting = "Good Morning";
    } else if (hour < 18) {
      greeting = "Good Afternoon";
    } else {
      greeting = "Good Evening";
    }
  
   
    document.getElementById("greeting").innerHTML = greeting;
    document.getElementById("dateNumber").innerHTML = dateNumber +" "+ months;
    document.getElementById("day").innerHTML = "How's Your "+day+" Going";;
  </script>
  
                         
                       
                
              
         </body>
</html>