<!DOCTYPE html>
<html>
    <head>
         <meta name="viewport" content="width=device-width,initial-scale=1.0">
         <title>TELINSO</title>
         
         <link rel="stylesheet" href="/welcome.css">
         <link rel="stylesheet" href="/overview.css">
         <link rel="stylesheet" href="/nav.css">
         <script src="/navbar.js" defer></script>
         <link rel="preconnect" href="https://fonts.googleapis.com">
         <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
         <script src="https://kit.fontawesome.com/01780eab25.js" crossorigin="anonymous"></script>
         <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap" rel="stylesheet"> 
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
         <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body>
        <div id="loader-container" class="loader-container">
            <div class="loader">
                <div class="spinner"></div>
                
            </div>
        </div>
        <div id="sidemenu2">

            <p>Support</p>
            <a href="tel:+919447140767"><i class="fa-solid fa-headset"></i> Contact Us  </a>
            <a href="mailto:gokuljithk@gmail.com"><i class="fa-solid fa-circle-info"></i> About Us </a>
          </div>
        
        <div id="myBtn2">
    
            <a  href="/" class="topbtn3" title="more"><i class="fa-solid fa-house"></i>  <p>Home</p></a>  
            <a  href="/profile" class="topbtn3" title="more"><i class="fa-solid fa-user"></i><p>Profile</p></a>
            <a  href="/voterlist" class="topbtn3" title="more"><i class="fa-solid fa-user-pen"></i><p>Edit</p></a>
            <a href="/soilhealth"  class="topbtn3" title="more"><i class="fa-solid fa-snowflake"></i></i><p>List</p></a>
    
        </div>
        <section class="header">
                
              <nav >
                
                <i class="fa-solid fa-bars" onclick="openmenu()"></i>
                <ul id="sidemenu">
                    
                    <li ><a style="background: whitesmoke;border-radius: 5px;padding: 5px;"  onclick="closemenu()" style="font-size: 13px;"><i class="fa-solid fa-xmark"></i></a></li>
    
                        <p>General</p>
                        <li><a href="/profile"><i class="fa-solid fa-user"></i> Profile</a></li>
                        <li><a href="/"><i class="fa-solid fa-bell"></i> Notification</a></li>
                        <li><a href="/soilhealth"><i class="fa-solid fa-snowflake"></i> Voter list </a></li>
                        <li><a href="/138squad1"><i class="fa-solid fa-gear"></i> Squad 1 </a></li>
                        <li><a href="/138squad2"><i class="fa-solid fa-compass"></i> Squad 2</a></li>
                        <li><a href="/138squad3"><i class="fa-solid fa-earth-americas"></i> Squad 3 </a></li>
                        <li><a href="/138squad4"><i class="fa-solid fa-gauge"></i> Squad 4 </a></li>
                        <li><a href="/138squad5"><i class="fa-solid fa-diamond"></i> Squad 5</a></li>
                        <li><a href="/logout" class="login"><i class="fa-solid fa-right-from-bracket"></i>LogOut</a></li>
                            
                    <p style="text-align: center;">Terms of Use | Privacy Policy</p>
                                
                </ul>
                
            </nav>
    </section>
    <section class="product">
            
        <div class="welcome-text">
        
            <h2 style="font-size: 16px;font-family: 'Montserrat', sans-serif;" id="greeting"></h2>
            <h2><span>GOKULJITH</span></h2>
            
        </div>

        <div class="Date-time2">
            <div class="balance2">
                <p>Squad</p>
                <p>1</p>
            </div>
            <hr>
            <div class="balance">
                <a  href="/voterlist" class="topbtn2 bal1" title="more"><i class="fa-solid fa-user-pen"></i>  <p>Edit</p></a> 
                <a  href="/soilhealth" class="topbtn2 bal2" title="more"><i class="fa-solid fa-snowflake"></i>  <p>List</p></a> 
                <a  href="/automatic" class="topbtn2 bal3" title="more"><i class="fa-solid fa-user-plus"></i>  <p>Group</p></a> 
                <a  href="/savedata" class="topbtn2 bal4" title="more"><i class="fa-solid fa-sun"></i>  <p>Add</p></a> 
            </div>
            
        </div>
                 
                
        <div class="row1">
            <a href="/138squad1" id="morebtn"   >
                <div class="product-col " >
                    
                    <i class="fa-solid fa-gear"></i>
                        <div>
                            <h3>Squad 1</h3>
                        </div>
                </div>
            </a>
            <a href="/138squad2" >
                <div class="product-col" >
                    
                    <i class="fa-solid fa-compass"></i>
                        <div>
                            <h3>Squad 2</h3>
                        </div>        
                               
                </div>
            </a>
            <a href="/138squad3" >    
                <div class="product-col"  >
                    <i class="fa-solid fa-earth-americas"></i>
                        <div>
                            <h3>Squad 3</h3>
                        </div>      
                                
                </div>
            </a>   
                  
        </div>
        <div class="row2">
               
            <a href="/138squad4" >
               <div class="product-col"  >
                <i class="fa-solid fa-gauge"></i>
                        <div>
                            <h3>Squad 4</h3>
                        </div>   
                </div>
            </a>
            <a href="/138squad5" >    
                <div class="product-col"  >
                    <i class="fa-solid fa-diamond"></i>
                        <div>
                            <h3>Squad 5</h3>
                        </div>     
                            
                </div>
             </a>  
             <a href="/" >    
                <div class="product-col"  >
                    <i class="fa-solid fa-headset"></i>
                        <div>
                            <h3>About</h3>
                        </div>      
                            
                </div>
             </a>    
        </div>
        <div class="Date-time">
            
                <div class="visit-schedule">
                    <a>UPDATES</a>
                </div> 
                <p>Booth committe will commence on 18 july 24</p>
         
        </div>
    </section>
              
         

<script>
    
    const now = new Date();
  
    const months = now.toLocaleDateString(undefined, { month: 'long', });
    const time = now.toLocaleTimeString();
    const dateNumber = now.getDate();
    const day = now.toLocaleDateString(undefined, { weekday: 'long' });
  
    const hour = now.getHours();
    let greeting = "";
  
    if (hour < 12) {
      greeting = "Good Morning,";
    } else if (hour < 18) {
      greeting = "Good Afternoon,";
    } else {
      greeting = "Good Evening,";
    }
  
    document.getElementById("greeting").innerHTML = greeting;
    

    document.addEventListener("DOMContentLoaded", function() {
    setTimeout(function() {
        
        document.getElementById('loader-container').style.display = 'none';
        document.getElementById('content').style.display = 'block';
    }, 3000); 
});

   
</script>

</body>
</html>